* {
    box-sizing: border-box; 
}

/*format of the page body*/
.App {
    background-color: #000;
    background-image: url(./salt-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 10px solid #000;
    padding: 20px;
}

/*format/style of all h2 text*/
h2{
    font-family: 'American Typewriter';
    font-size: 40px;
    color: #E171AC;
    text-align: center;
    margin: 10px;
}

/*format/style of h3, h4, p, li text*/
h3, h4, p, li {
    font-family:'Times New Roman';
    color: #fff;
    text-align: center;
    align-content: center;
}

/*font size of h3 text in main body of page*/
h3{
    font-size: 30px;
}
  
/* h4 font size*/
h4{
    font-size: 23px;
}
  
/* p and li font size*/
p,li {
    font-size: 20px;
}

/*format of ordered and unordered lists*/
div{
    text-align: center;
}

ol, ul {
    display: inline-block;
    text-align: left;
}

.group {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
    margin: 10px;
}

.item img {
    width: 100%;
    border: 5px solid #000;
    margin-top: 20px;
}

.item-double img {
    width: 100%;
    border: 5px solid #000;
}

/*Groups and Items (Desktop)*/
@media all and (min-width: 800px){
    .group {
      flex-direction: row;
    }
}
