.logo {
    width: 220px;
    border: 2px solid #000;
}

.App__footer {
    border: 2px solid #E171AC;
    background-color: #00B3E6;
    background-image: url(../cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 150px;
}

