.logo {
    margin-top: 10px;
    /* width: 180px; */
    border: 2px solid #000;
    /* height: 70px; */
}

.App__footer {
    border: 2px solid #E171AC;
    background-color: #00B3E6;
    background-image: url(../cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100px;
}

.ft_group{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ft_item{
    flex: 1;
    margin-top: 2px;
}

.ft_item img{
    width: 30%;
}
